*.class
*.war
*.ear
*.orig
out/
target/
.settings
.progect
.classpath
.idea/
/idea/
*.ipr
*.iml
*.iws
*.log
*.cache
*.diff
*.patch
*.tmp
/src/main/java/com/greenhat/test
/src/main/resources
/src/main/webapp
.DS_Store
Thumbs.db